<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Ativa o FastCGI -->
    <handlers>
	  <clear />
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\VilaApps\venv\Scripts\python.exe|C:\inetpub\wwwroot\VilaApps\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
	
    <!-- Variáveis necessárias pelo wfastcgi -->
    <fastCgi>
      <application fullPath="C:\inetpub\wwwroot\VilaApps\venv\Scripts\python.exe" arguments="C:\inetpub\wwwroot\VilaApps\venv\Lib\site-packages\wfastcgi.py">
        <environmentVariables>
          <add name="WSGI_HANDLER" value="app.app" />
          <add name="WSGI_LOG" value="C:\inetpub\wwwroot\VilaApps\wfastcgi.log" />
          <add name="PYTHONPATH" value="C:\inetpub\wwwroot\VilaApps" />
        </environmentVariables>
      </application>
    </fastCgi>

    <!-- Remove erros genéricos do IIS -->
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
  <security>
    <requestFiltering>
      <!-- certifique-se de que POST é permitido -->
      <verbs>
        <remove verb="POST" />
        <add verb="POST" allowed="true" />
      </verbs>
    </requestFiltering>
  </security>

  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\VilaApps" />
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\VilaApps\wfastcgi.log" />
  </appSettings>  
</configuration>
